name = "cloudflare-temp-email"
main = "src/index.ts"
compatibility_date = "2026-04-06"

[vars]
PREFIX = "ai"
DOMAIN = "wealthcompass.top"
ADMIN_PASS = "yoursecretpassword"

[[d1_databases]]
binding = "DB"
database_name = "temp-email"
database_id = "temp-email"
